/* =============================
   continer
============================= */
.card {
  background: white;
  border: 1px solid var(--white-lead);
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* =============================
   table
============================= */
.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table thead {
  background: var(--light-lead);
  font-weight: 600;
  font-size: 14px;
  color: var(--gray);
}

.data-table thead th {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid var(--white-lead);
}

.data-table tbody td {
  padding: 18px 10px;
  border-bottom: 1px solid var(--white-lead);
  font-size: 14px;
}

.data-table tbody tr:last-child td {
  border-bottom: 0;
}

/* Hover row */
.data-table tbody tr:hover {
  background: var(--light-lead);
}

/* =============================
   image
============================= */
.icon {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: var(--icon-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  font-weight: 600;
}

/* =============================
   Footer table
============================= */
.table-footer {
  margin-top: 10px;
  font-size: 14px;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =============================
   Information (icons 'i')
============================= */
.info-icon {
  color: var(--white);
  cursor: pointer;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-icon {
  display: inline-flex;
  align-items: center;
  gap: 6px; /* separación entre texto e icono */
  font-weight: 600;
  color: var(--gray);
}

.search-input {
  width: 260px;
  padding: 10px 14px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background: white;
  margin-bottom: 10px;
}

.search-input::placeholder {
  color: var(--color-border);
}

.search-input:focus {
  border-color: var(--light-blue);
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  gap: 25px 30px;
}

.menu-dots {
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: 50%;
  box-shadow:
    0 8px 0 var(--black),
    0 16px 0 var(--black);
}

.dropdown {
  position: relative;
  width: 30px;
}

.menu {
  position: absolute;
  right: 66px;
  background: var(--white);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  min-width: 80px;
  box-shadow: 0 4px 10px var(--color-border);
  display: block;
}

.menu button {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  border: 0px;
  width: 100%;
  &:hover {
    background: var(--white-lead);
  }
}

.search-skt {
  height: 40px;
  margin: 10px 0px;
}
