.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table thead {
  background: var(--white-lead);
  font-weight: 600;
  font-size: 14px;
  color: var(--gray);
}

.data-table thead th {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid var(--white-lead);
}

.data-table tbody td {
  padding: 18px 10px;
  border-bottom: 1px solid var(--white-lead);
  font-size: 14px;
}

.data-table tbody tr:last-child td {
  border-bottom: 0;
}

td {
  padding: 12px;
}

.table-footer {
  margin-top: 10px;
  font-size: 14px;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.place-items-center {
  place-items: center;
}
