.btn-primary {
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: var(--yellow);
  color: var(--blue);
}

.btn-secondary {
  background-color: var(--light-lead);
  color: var(--blue);
  font-weight: 600;
  font-size: 16px;
}

.btn-secondary:hover {
  background-color: var(--white-lead);
}

.btn:focus {
  outline: 2px solid var(--light-blue);
  outline-offset: 2px;
}

.bc-primary {
  background-color: var(--color-bg) !important;
}

/* SKELETON STYLES  */

.skeleton-bar {
  height: 16px;
  background: linear-gradient(
    90deg,
    var(--color-skeleton-gradient) 25%,
    var(--color-skeleton-bg) 50%,
    var(--color-skeleton-gradient) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}
